.banner {
  display: flex;
  height: 15.5rem;
  background-image: url(../image/Banner.png);
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  margin-inline: 2.5rem;
}

.banner h1 {
  font: var(--Headline1);
  color: var(--white);
  text-align: center;
}
