.button-primary {
  background-color: var(--Malachite);
  border: none;
  padding-inline: 4.28rem;
  border-radius: 0.25rem;
  color: var(--white);
  padding-block: 0.75rem;
  cursor: pointer;
}

.buttonTotal-acount {
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  background-color: var(--Malachite);
  border: none;
  border-radius: 0.25rem;
  color: var(--white);
  cursor: pointer;
}
.buttonTotal-acount::after {
  content: counter(score);
}
.button-percent {
  color: var(--Purple);
  font: var(--Caption-Bold);
  background-color: var(--Purple-bg);
  padding: 0.25rem;
  border-radius: 1rem;
  border: none;
}
