.button-primary.is-select:active {
  counter-increment: tienda;
}

.button-primary {
  background-color: var(--Malachite);
  border: none;
  padding-inline: 4.28rem;
  border-radius: 0.25rem;
  color: var(--white);
  padding-block: 0.75rem;
  cursor: pointer;
}

.button-primary.total-acount {
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
}
.total-acount::after {
  content: counter(score);
}
.button-percent {
  color: var(--Purple);
  font: var(--Caption-Bold);
  background-color: var(--Purple-bg);
  padding: 0.25rem;
  /* margin-block-end: 1rem; */
  border-radius: 1rem;
  border: none;
}
