.ellipsis {
  overflow: hidden;
  border-inline-end: 1px solid var(--silver);
  font: var(--Body1-Bold);
  padding-inline-start: 0.5rem;
  padding-inline-end: 1rem;
}

.ellipsis > * {
  border: 1px solid red;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
