@import "./ellipsis.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: 2.5rem;
  padding-block: 1.5rem;
  background-color: var(--white);
}
.header h1 {
  color: var(--Scarlet);
  font: var(--logo);
}
.header-container.icon-active {
  color: var(--Scarlet);
}
