/* ::-webkit-scrollbar {
  background: var(--silver);
  inline-size: 0.5rem;
  block-size: 0.5rem;
} */
/* .page::-webkit-scrollbar-thumb:vertical {
  background: var(--silver);
} */
/* .card::-webkit-scrollbar-thumb:horizontal:hover {
  background: var(--Boulder);
} */
/* ::-webkit-scrollbar {
  background: var(--Boulder);
  inline-size: 0.5rem;
  block-size: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--silver);
}

::-webkit-scrollbar-track {
  background: var(--gray50);
} */
