::-webkit-scrollbar {
  background: var(--white);
  inline-size: 0.5rem;
  block-size: 0.5rem;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  border-radius: 0.5rem;
  background: var(--silver);
}
